
<div class="toolbar" role="banner">
  <span class="icon fas fa-cloud-sun-rain"></span>
  <span>MMC Weather</span>
  <div class="spacer"></div>
</div>

<div class="content">
  <div class="card-container">
    <form #form="ngForm" (submit)="submitLocation()">
      <input type="hidden" name="selectCity" [(ngModel)]="selectCity">
      <input type="hidden" name="selectState" [(ngModel)]="selectState">
      <input type="hidden" name="selectContry" [(ngModel)]="selectContry">
      <input type="hidden" name="selectLat" [(ngModel)]="selectLat">
      <input type="hidden" name="selectLon" [(ngModel)]="selectLon">

      <input type="text" class="filterCapital" (ngModelChange)="getCapitalState()"  name="filterCapital" placeholder="Filter Capital" [(ngModel)]="filterCapital">

      <button class="card card-small" *ngFor="let item of capitalStatesList"
        (click)="
        selectCity = item.name;
        selectState=item.state;
        selectContry=item.contry;
        selectLat=item.coord.lat; 
        selectLon=item.coord.lon;
        " tabindex="0"
        >
        <span>{{item.name}} - {{item.state}}</span>
      </button>
      
    </form>
  </div>
  <div class="info" *ngIf="weatherData">
    <div class="basic">
      <div class="city">{{selectCity}} - {{selectState}}</div>
      <div class="temperature">
        <div class="image fas fa-cloud" *ngIf="weather == 'Mist' || weather == 'Clouds' || weather == 'Fog'"></div>
        <div class="image fas fa-sun" *ngIf="weather == 'Clear'"></div>
        <div class="image fas fa-cloud-rain" *ngIf="weather == 'Rain' || weather == 'Drizzle'"></div>
        <div class="image fas fa-cloud-showers-heavy" *ngIf="weather == 'Thunderstorm'"></div>
        <div class="image fas fa-smog" *ngIf="weather == 'Smoke'"></div>
        <div class="image fas fa-cloud-sun-rain" *ngIf="weather == 'Haze'"></div>
        <div class="weather">{{weatherData?.main?.temp | number : '1.0-0'}}°C
          <p class="fell">Fells like {{weatherData?.main?.feels_like | number : '1.0-0'}}°C</p>
        </div>
      </div>
    </div>
    <div class="allData">
      <div class="data">
        <span class="icon fas fa-temperature-low"></span>
        <span class="value">{{weatherData?.main?.temp_min| number : '1.0-0'}}°C</span>
      </div>
      <div class="data">
        <span class="icon fas fa-temperature-high"></span>
        <span class="value">{{weatherData?.main?.temp_max| number : '1.0-0'}}°C</span>
      </div>
      <div class="data">
        <span class="icon fas fa-wind"></span>
        <span class="value">{{weatherData?.wind?.speed| number : '1.0-0'}} m/s</span>
      </div>
      <div class="data">
        <span class="icon fas fa-smog"></span>
        <span class="value">{{airPollutionText}}</span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>